<ran-page-header>
    demo core 组件演示
</ran-page-header>
<ran-page-content>
    <div class="card">
        <div class="card-header">
            ran-checkbox
        </div>
        <div class="card-body">
            <ran-checkbox>刘老根</ran-checkbox>
        </div>
    </div>
    {{formgroup.valid}}
    {{formgroup.value|json}}
    <div class="card  mt-2">
        <div class="card-header">
            表单验证
        </div>
        <div class="card-body">
            <form [formGroup]="formgroup">
                <div class="form-group">
                    <label for="role-name">姓名</label><span> * </span>
                    <input autofocus type="text" class="form-control" formControlName="name">
                </div>
                <div class="form-group">
                    <label>体重</label>
                    <input autofocus type="text" class="form-control" formControlName="weight">
                </div>
                <div class="form-group">
                    <label>身高</label>
                    <input autofocus type="text" class="form-control" formControlName="height">
                </div>
            </form>
        </div>
    </div>
</ran-page-content>