<ran-page-header>
    demo core 组件演示
</ran-page-header>
<ran-page-content>
    <div class="card">
        <div class="card-header">
            当前时间
        </div>
        <div class="card-body">
            {{'2019-10-24T14:20:50.7405603'|momentFormat:'L LTS'}}
            <br>
            {{dateTimeNow|momentFormat:'L LTS'}}
            <br>
            <br>
            minCheckDate:{{minCheckDate}}
            <br>
            maxCheckDate:{{maxCheckDate}}
            <br>
            <ran-date-range-picker [(startTime)]="minCheckDate" [(endTime)]="maxCheckDate"></ran-date-range-picker>
            <ran-date-time-picker [showTime]="true"></ran-date-time-picker>
            <ran-date-time-picker [showTime]="false"></ran-date-time-picker>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            ran-checkbox
        </div>
        <div class="card-body">
            <ran-checkbox>刘老根</ran-checkbox>
        </div>
    </div>

    <mat-paginator [length]="0" [pageSize]="5" [pageSizeOptions]="[1,5]" [showFirstLastButtons]='true'>
    </mat-paginator>
    <!-- <div class="card  mt-2">
        <div class="card-header">
            表单验证
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="role-name">姓名</label><span> * </span>
                    <input autofocus type="text" name="name" class="form-control" [(ngModel)]="edit.name" required>
                </div>
                <div class="form-group">
                    <label>体重</label>
                    <input autofocus type="number" name="weight" class="form-control" [(ngModel)]="edit.weight"
                        min="10">
                </div>
                <div class="form-group">
                    <label>身高</label>
                    <input autofocus type="number" name="height" class="form-control" [(ngModel)]="edit.height"
                        minlength="18">
                </div>
            </form>

            <form [formGroup]="formgroup">
                <div class="form-group">
                    <label for="role-name">姓名</label><span> * </span>
                    <input autofocus type="text" class="form-control" formControlName="name">
                </div>
                <div class="form-group">
                    <label>体重</label>
                    <input autofocus type="number" class="form-control" formControlName="weight">
                </div>
                <div class="form-group">
                    <label>身高</label>
                    <input autofocus type="text" class="form-control" formControlName="height">
                </div>
            </form>
        </div>
    </div> -->
</ran-page-content>